  
<div>

  <sidenav>
  </sidenav> 

</div>    
<!--<md-content>
    <fabric-menubar on-sidenav-toggled="$ctrl.sidenavToggled()" open-left="$ctrl.openLeft"></fabric-menubar>  
</md-content> 
<div>
     <fabric-sidenav class='main-menu' open-left="$ctrl.openLeft">                
        <leftsidecontent>
            <sidenav-main-menu ng-show="$ctrl.isLoggedIn" open-left="$ctrl.openLeft" on-sidenav-toggled="$ctrl.sidenavToggled()"></sidenav-main-menu>
        </leftsidecontent>
        <maincontent layout='column' class="mainContentContainer" ng-click="$ctrl.closeOnMobile()">
            <ng-view></ng-view>
        	<div ng-hide="!$ctrl.appHeaderService.progressbar.showProgressBar" class="mcpProgressBar">
            <md-progress-circular class="mcpProgressSpinbar" md-mode="indeterminate"></md-progress-circular>
            </div>
        </maincontent> 
    </fabric-sidenav>          
</div> --> 
