  <div data-gridster="$ctrl.gridsterOpts">
    <ul layout-fill flex>
        <li data-gridster-item ng-repeat="item in $ctrl.standardItems" md-whiteframe="4" style="background: #ffffff;">
            <div layout="row" layout-fill layout-align="center center" layout-padding layout-wrap>
                <h3 flex="100"> {{$ctrl.chartsConfig[$index].title}} </h3>
                <section flex="100">
                <canvas id="{{$ctrl.chartsConfig[$index].chartType}}" class="chart chart-bar"
                    chart-data="$ctrl.chartsConfig[$index].data" chart-labels="$ctrl.chartsConfig[$index].labels" chart-series="$ctrl.chartsConfig[$index].series" ng-if="$ctrl.chartsConfig[$index].chartClass === 'chart-bar'">
                </canvas>

                <canvas id="{{$ctrl.chartsConfig[$index].chartType}}" class="chart chart-doughnut"
                    chart-data="$ctrl.chartsConfig[$index].data" chart-labels="$ctrl.chartsConfig[$index].labels" ng-if="$ctrl.chartsConfig[$index].chartClass === 'chart-doughnut'">
                </canvas>

                <canvas id="{{$ctrl.chartsConfig[$index].chartType}}" class="chart chart-pie"
                    chart-data="$ctrl.chartsConfig[$index].data" chart-labels="$ctrl.chartsConfig[$index].labels" ng-if="$ctrl.chartsConfig[$index].chartClass === 'chart-pie'">
                </canvas>

                <canvas id="{{$ctrl.chartsConfig[$index].chartType}}" class="chart chart-horizontal-bar"
                    chart-data="$ctrl.chartsConfig[$index].data" chart-labels="$ctrl.chartsConfig[$index].labels" chart-series="$ctrl.chartsConfig[$index].series" ng-if="$ctrl.chartsConfig[$index].chartClass === 'chart-horizontal-bar'">
                </canvas>

                <canvas id="{{$ctrl.chartsConfig[$index].chartType}}" class="chart chart-polar-area"
                    chart-data="$ctrl.chartsConfig[$index].data" chart-labels="$ctrl.chartsConfig[$index].labels" ng-if="$ctrl.chartsConfig[$index].chartClass === 'chart-polar-area'">
                </canvas>

                <canvas id="{{$ctrl.chartsConfig[$index].chartType}}" class="chart chart-radar"
                    chart-data="$ctrl.chartsConfig[$index].data" chart-labels="$ctrl.chartsConfig[$index].labels" ng-if="$ctrl.chartsConfig[$index].chartClass === 'chart-radar'">
                </canvas>
                </section>
            </div>    
        </li>
    </ul>
</div>
